@charset "UTF-8";
.sub-box5 {width:90%; margin:auto; padding:4rem 0;}
.sub-box5 h2 {text-align:center; margin-bottom:30px;}
.sub-box5 > table {margin:auto; box-shadow:3px 3px 3px -1px;}
.sub-box5 > table th {padding:5px 10px; border:1px solid #111; text-align:center;}
.sub-box5 > table td {padding:5px 10px; border:1px solid #111; text-align:center;}
.sub-box5 .td1 {width:3%;}
.sub-box5 .td2 {width:7%;}
.sub-box5 .td3 {width:25%;}
.sub-box5 .td4 {width:5%;}
.sub-box5 .td5 {width:10%;}
.sub-box5 .td6 {width:17%;}
.sub-box5 .td7 {width:15%;}
.sub-box5 > table img {width:10rem;}
.sub-box5 > table input[type=number] {width:3rem;}
.sub-box5 > table .btn {display:flex; flex-flow:column nowrap;}
.sub-box5 > table button {background-color:#fabc3f; border:none; color:white; border-radius:5px; padding:3px 5px; margin-top:10px; white-space:nowrap;}
.sub-box5 > table .btn button:nth-child(2) {background-color:#E85C0D;}
.sub-box5 > table .btn button:last-child {background-color:#C7253E;}
/* type이 number인 input객체의 화살표 버튼 항상 표시 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance : inner-spin-button; opacity:1;}
.sub-box5 .right-box {text-align:right; padding:5px 10px;}